# =============================================================
# OWNER: BAINTY KAUR
# =============================================================
numpy==1.24.3
scipy==1.11.1
rasterio==1.3.8
kafka-python==2.0.2
msgpack==1.0.5
minio==7.1.15
prometheus-client==0.17.1
redis==4.6.0
