# =============================================================
# OWNER: LANKAPRIYA
# =============================================================
kafka-python==2.0.2
msgpack==1.0.5
minio==7.1.15
numpy==1.24.3
scipy==1.11.1
zarr==2.16.1
dask==2023.7.0

